<h1> Seguem os detalhes dos servicos desse chefe</h1>
      <% @services.each do |service| %>
          <%= service.title%>
          <%= service.category%>
          <%= service.price%>
          <%= service.user.id%>
      <% end %>
