<div class="container mt-4">
  <h1 style="color: #2F4F4F; text-align: center;">Nova Reserva</h1>

  <%= simple_form_for [@service, @booking] do |f| %>
    <div class="form-inputs">
      <%= f.input :date,
                  as: :date,
                  html5: true,
                  label: 'Data da Reserva' %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Confirmar Reserva", class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= link_to 'Voltar', service_path(@service), class: "btn btn-secondary" %>
</div>
