// Card para index apenas
.card:not(.card-details) {
  transition: transform 0.2s;
  margin-bottom: 20px;
  background: #ffffff9c;
  border: 2px solid #2F4F4F;
  color: #2F4F4F;
  max-width: 250px;

  &:hover {
    transform: translateY(-5px);
    background: #2F4F4F;
    color: #FAF0E6;

    .card-title, .card-subtitle {
      color: #FAF0E6;
    }

    .btn-primary {
      background: #FAF0E6;
      color: #2F4F4F;
    }
  }

  .btn-primary {
    background: #2F4F4F;
    color: #FAF0E6;
    border: none;
  }
}

// Card para show - completamente separado
.card-details {
  max-width: 800px;
  margin: 0 auto;
  background: #ffffff9c;
  border: 2px solid #2F4F4F;
  color: #2F4F4F;

  .btn {
    &.btn-primary, &.btn-danger, &.btn-success {
      background: #2F4F4F;
      color: #FAF0E6;
      border: 2px solid #2F4F4F;

      &:hover {
        background: #FAF0E6;
        color: #2F4F4F;
      }
    }
  }
}

.col-md-4 {
  padding: 15px;
}
